{% extends "base.html.twig" %}

{% block body %}


    <h1 class="text-center mt-4 pt-4"> Article de la recherche</h1>

    <div class="row">
        {% if articles is empty %}
            <h3 class="mt-4 text-center text-danger"> desoler il n y a pas d article corespondant a votre recherche</h3>
        {% endif %}
        {% for article  in articles %}

            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body row">

                        <h5 class="card-title col-12 text-center" style=" color:{{ article.category.color.color }}  ">{{ article.name }}</h5>

                        <p class="card-text col-6">{{ article.content }}</p>
                        <div class="col-6"> <img src="{{ article.image }}" alt="{{ article.name }}" class="img-fluid"></div>
                        <a  href="{{ path('article_show', {id :article.id}) }}" class="btn btn-primary mt-5">voir</a>



                    </div>
                </div>
            </div>


        {% endfor %}
    </div>
{% endblock %}